h2{
    text-align: center;
}

h4{
margin-left: 50px;
}

.header{
    width: 700px;
    background-color:rgb(0,0,0,0.6);
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    border-radius: 15px 15px 0px 0px;
}
.main{
    position: relative;
    background-color: rgb(0,0,0,0.4);
    text-align: center;
    width: 700px;
    font-size: large;
    color: white;
    padding-top: 10px;
    margin: auto;
    height: max-content;
    height: 450px;
    
}

.cname{
    font-size: small;
    color: white;
    font-weight: bold;
}

.cowner{
    font-size: small;
    color: white;
    font-weight: bold;
}

.email{
    font-size: small;
    color: white;
    font-weight: bold;
}

.borrowamount{
    font-size: small;
    color: white;
    font-weight: bold;
}

.terms{
    font-size: small;
    color: white;
    font-weight: bold;
}

.interest{
    font-size: small;
    color: white;
    font-weight: bold;
}

.payment{
    font-size: small;
    color: white;
    font-weight: bold;
}

.profit{
    font-size: small;
    color: white;
    font-weight: bold;
}

.decision{
    font-size: small;
    color: white;
    font-weight: bold;
  
}

span{
    position: relative;
    width: 240px;
    display: inline-flex;
    font-weight: bold;
}

.finalmessage{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

option{
    color: black;
}
.box{
    color: black;
}

img{
    margin-top: -100px;
    margin-left:500px ;
    border-radius: 50%;
}